[Unit]
Description=My Reconnect Script Service
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/usr/bin/sudo /usr/bin/python3 /home/pi/DVR/Scripts/reconnect.py

[Install]
WantedBy=multi-user.target
